* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  gap: 20px;
}